%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span=  "#{@video.average_rating}/5.0" #average_rating method in the video model
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          %a.btn.btn-default(href="") + My Queue
          -# hardcoded for now

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@video, @review] do |f|
        .row
          .col-sm-3
            = f.select :rating, [['5 Stars', 5], ['4 Stars', 4], ['3 Stars', 3], ['2 Stars', 2], ['1 Star', 1]], label: "Rate this video"
        .row
          .col-sm-8
            = f.text_area :text, label: "Write Review", control_col: "col-sm-2", rows: 6
        .row
          .col-sm-8
            = f.form_group do
              = f.submit "Submit"
        -#doesn't have a 'cancel' yet
      %header
        %h3 User Reviews (#{@video.reviews.count})
      %ul
        - @video.reviews.reverse.each do |review| #change to only limited number of reviews later on
          %article.review
            %li.row
              .col-sm-2
                %span= "Rating: " + review.rating.to_s + " / 5"
                %p= "by " + review.user.full_name #change to link later on
              .col-sm-8
                %p= review.text #could also change this all to a partial I suppose, but don'd see a need just yet
